.login-wrapper {
  padding: 5% 35% 5% 35%;
}

@media screen and (max-width: 1408px) {
  .login-wrapper {
    padding: 5% 35% 5% 35%;
  }
}

.box-wrapper {
  padding: 5em !important;
}

.log-button {
  float: right;
}

.logo {
  margin-left: 20px;
}

.link {
  color: black;
}

.link-to {
  color: #3ec487 !important;
}


.start-tiles {
  padding: 5em 20em 5em 20em;
}

/* Home Page */

.home-tiles {
  padding: 0em 10em 0em 10em;
}

.top {
  padding-top: 2em;
}

.bot {
  padding-bottom: 2em;
}

.tile-title {
  padding-bottom: 0.5em;
}

.tile-title:hover {
  color: #9FC9D3 !important;
}

.image-wrapper {
  margin-bottom: 1em;
}

.img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.aligned {
  display: flex;
  align-items: center;
}

span {
  padding: 10px;
}

/* Calendar */

.date-selected {
  text-align: center;
}

.calendar {
  border-radius: 5px;
}

.calendar-pad {
  padding-right: 0 !important;
}

.box-pad {
  padding-left: 0 !important;
}