.login-wrapper {
  padding: 5% 35% 5% 35%;
}

@media screen and (max-width: 1408px) {
  .login-wrapper {
    padding: 5% 35% 5% 35%;
  }
}

.box-wrapper {
  padding: 5em !important;
}

.log-button {
  float: right;
}

.logo {
  margin-left: 20px;
}

.link {
  color: black;
}

.link-to {
  color: #3ec487;
}

.start-tiles {
  padding: 5em 20em 5em 20em
  ;
}

.home-tiles {
  padding: 0em 10em 0em 10em;
}

.top {
  padding-top: 2em;
}

.bot {
  padding-bottom: 2em;
}

.tile-title {
  padding-bottom: 0.5em
}

.card-spacing {
  padding: 0.5em !important;
}

.calendar-spacing {
  padding: 2em;
}